<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="dbMain" connectionString="Server=studentpsql.miun.se; Port=5432; Database=sup_db9; User Id=sup_g9; Password=sxvpQpiXWuq;Trust Server Certificate=true; sslmode=Require;"/>
  </connectionStrings>
</configuration>